# Игнорировать файл Thumbs.db
Thumbs.db
# Игнорировать файл DS_Store
.DS_Store
# Игнорировать все файлы с суффиксом old
*_old
# Игнорировать все файлы с суффиксом backup
*_backup
# Игнорировать папку tmp
tmp/
